<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203233214640-qbsmnlnlf94c529icauq6vh5mgc3eru8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203233214640-qbsmnlnlf94c529icauq6vh5mgc3eru8</string>
	<key>API_KEY</key>
	<string>AIzaSyABK_nyP172TaCMrdMwH43e5VPIYtCZKGY</string>
	<key>GCM_SENDER_ID</key>
	<string>203233214640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarioTrainer2</string>
	<key>PROJECT_ID</key>
	<string>alariotrainerprova</string>
	<key>STORAGE_BUCKET</key>
	<string>alariotrainerprova.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203233214640:ios:5b68bded1d91d30e767b75</string>
</dict>
</plist>